.section-5 {
  padding: 100px 230px;
  line-height: 35px;
  text-align: left;
  height: 350px;
  background-color: #00f782;
}
.section-5 h1 {
  color: #333333;
}
.section-5 p {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
}
::placeholder {
  color: #333333;
}
.section-5 input {
  margin-top: 20px;
  padding: 12px 230px 12px 10px;
  background-color: #00f782;
  border: 0.5px solid black;
}
.section-5 button {
  height: 30px;
  width: 100px;
  margin-top: 15px;
  font-size: 15px;
  background-color: black;
  color: #00f782;
}

.footer {
  padding: 10px 10px;
  height: 350px;
  display: flex;
  background-color: #333333;
}
.footer .one {
  padding: 150px 50px;
  color: white;
  width: 50%;
  background-color: #333333;
  border-right: 0.5px dashed #00f782;
}
.footer .one a {
  text-decoration: none;
  color: #00f782;
}
.footer .one a:hover {
  color: white;
}
.footer .second {
  width: 50%;
}
.footer .two {
  text-align: left;
  display: flex;
  color: white;
  padding: 10px 10px;
  border-bottom: 0.5px dashed #00f782;
  height: 60%;
  width: 85%;
}
.footer .second .two .two1 {
  padding-left: 30px;
  display: flex;
  width: 60%;
  height: 100%;
}
.footer .second .two .two1 .about,
.company {
  width: 50%;
  height: 100%;
}
.footer .second .two .about a,
.company a,
.two2 .support a {
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  color: #00f782;
  width: 50%;
}
.footer .second .two .about a:hover,
.company a:hover,
.two2 .support a:hover {
  color: white;
}
.footer .second .two .two2 {
  width: 50%;
  height: 100%;
}
.footer .second .two .links,
.support {
  width: 100%;
  height: 50%;
}

.footer .three {
  line-height: 25px;
  text-align: left;
  padding: 10px 30px;
  color: white;
  width: 70%;
}
.footer .three p span {
  margin-right: 5px;
  border-radius: 40px;
  background-color: #00f782;
  color: #00f782;
}
.footer .three p:hover span {
  color: white;
  background-color: #333132;
}
