.header {
  background-color: #333132;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  height: 70px;
  padding-top: 20px 20px 20px 20px;
}
.header p {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.header button {
  color: rgb(44, 43, 43);
  border-color: transparent;
  background-color: #00f782;
  border-radius: 35px;
  height: 40px;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
}
.header button:hover {
  color: #00f782;
  background: rgb(44, 43, 43);
  font-weight: 600;
  font-size: 20px;
}
