.navbar {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 600;
}
.navbar .pages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 37%;
}
.navbar a:hover {
  color: #00f782;
  border-bottom: solid #00f782;
  padding: 5px 0px;
}
button {
  color: black;
  border-color: transparent;
  background-color: #00f782;
  border-radius: 35px;
  height: 40px;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
}
